<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Deep Air Learning: Interpolation, Prediction, and Feature Analysis of Fine-grained Air Quality</title>
     {% load static %}
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Charity Hub Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>
<body>
<!--header-->
	<div class="header">
	<div class="header-top">
        <h2 style="text-align:center;color:white;font-size:40px;"> Deep Air Learning: Interpolation, Prediction, and Feature Analysis of Fine-grained Air Quality</h2>

		<div class="container">

				<div class="top-nav">
					<span class="menu"><img src="images/menu.png" alt=""> </span>

						<ul>
						<li class="active"><a href="{% url 'home' %}"  >View Dataset</a><span>/</span></li>
						<li><a href="{% url 'air_quality_analysis' %}" >Air Quality Analysis</a><span>/</span></li>
                            <li><a href="{% url 'pollution_analysis' %}" >Pollution Analysis</a><span>/</span></li>
						<li><a href="{% url 'logout' %}"  >Logout</a><span>/</span></li>

					</ul>

					<!--script-->
				<script>
					$("span.menu").click(function(){
						$(".top-nav ul").slideToggle(500, function(){
						});
					});
			</script>
				</div>

			</div>
		</div>

		</div>
<!---->
 <div class="contact">
	<div class="container">

			<table>

   <div id="a1" style="margin-left:410px;color:ca2424;font-family:georgia;font-size:50px;"> IMAGE</div>
    <div id="" ><img src="{{obj.img.url}}" style="width:300px;height:250px;margin-left:470px;margin-top:30px;"></div>
    <div id="aa1"><img src="{% static 'process1.gif' %}" style="width:300px;height:250px;margin-left:500px;float:right;margin-top:-250px;"></div>
    <div id="a2" style="margin-left:460px;color:ca2424;font-family:georgia;font-size:50px;"> PREDICTION-PROCESS....</div>
    <tr><td style="padding-left:100px;"><img src="{% static 'images/lab.png' %}" style="width:300px;height:250px;"></td>
        <td><img src="{% static 'images/b.png' %}" style="width:300px;height:250px;"></td>
        <td><img src="{% static 'images/l.png' %}" style="width:300px;height:250px;"></td></tr><br>
</table>
     <div id="a3" style="margin-left:460px;color:ca2424;font-family:georgia;font-size:50px;margin-top:20px;">VISUAL IMAGE</div>
    <img src="{% static 'images/final.png' %}" style="width:300px;height:250px;margin-left:500px;"></td></tr>


</tr>

<td colspan="3" style="text-align: center;vertical-align: middle;"><a style="color;black;border:1px solid white;padding:10px;" href="{% url 'viewlist' pk %}">Click to Find Pollution Information</a></td>
</table>

				</div>

			</div>


	<div class="footer">

		<div class="container">
				<div class="class-footer">
					 <p class="footer-grid"> Deep Air Learning: Interpolation, Prediction, and Feature Analysis of Fine-grained Air Quality </p>
			 	</div>
		 </div>
	</div>
 </body>
</html>