<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Prediction in AQI</title>
     {% load static %}
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Charity Hub Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>
<body>
<!--header-->
	<div class="header">
	<div class="header-top">
        <h2 style="text-align:center;color:white;font-size:40px;"> Deep Air Learning: Interpolation, Prediction, and Feature Analysis of Fine-grained Air Quality</h2>

		<div class="container">

				<div class="top-nav">
					<span class="menu"><img src="images/menu.png" alt=""> </span>

						<ul>
						<li class="active"><a href="{% url 'user_index' %}"  >Home</a><span>/</span></li>
						<li><a href="{% url 'user_login' %}" >User</a><span>/</span></li>
						<li><a href="{% url 'admin_login' %}"  >Admin</a><span>/</span></li>

					</ul>

					<!--script-->
				<script>
					$("span.menu").click(function(){
						$(".top-nav ul").slideToggle(500, function(){
						});
					});
			</script>
				</div>

			</div>
		</div>

		</div>
<!---->
 <div class="contact">
	<div class="container">

			<h2>User Login</h2>
			  <form  method="post" id="sendemail">
                 {% csrf_token %}
					<div class="contact-grid">
						<div class="col-md-6 contact-us">
							<input type="text" placeholder="Username" name="uname" required>
						</div>
						<div class="col-md-6 contact-us">
							<input type="password" placeholder="Password" name="password" required>
						</div>
						<div class="clearfix"> </div>
					</div>


					<div class="send ">
						<input type="submit" value="LOGIN" >
                        <a href="{% url 'user_register'%}" style="font-size:30px;font-weight:bold;color:black;text-decoration:underline;">New User Register Here</a>

					</div>
				</form>
				</div>

			</div>


	<div class="footer">

		<div class="container">
				<div class="class-footer">
					 <p class="footer-grid"> Deep Air Learning: Interpolation, Prediction, and Feature Analysis of Fine-grained Air Quality </p>
			 	</div>
		 </div>
	</div>
 </body>
</html>